[COMMON]
# The system definition
system = CYBER-LOTTERY

# The locale for which a resource bundle is desired 
#locale = zh_CN


# The temporal folder setting is for http upload
temp.dir = /temp
#session.timeout.redirecturl = /logout.do?action=timeout
#

###########MAIL SENDER#########
[MAIL]
hostIsSSL =true
host =smtp.qq.com
adminId =shenzewen4908@foxmail.com
adminPassword =539715272fbddbab873c8e674c87bf1e287822eb25b41579
fromMail =shenzewen4908@foxmail.com

###########DB CONNECTION#########
[DB_CONNECTION]
url =fca2b00a4f4495d2839de3b94f063916663729a3d88354a54f94faca0c9e539fb1c13e9958391edfc530e6302156d3050b1c245fb39dd305bb0d1a7cfc9907cb
user =af97883e5789c20c
password =af97883e5789c20c

###########FILE#########
[FILE]
path =/home/moeyan/lottery/file

###########CB_BANK#########
[CB_BANK]
#-- commonKey -- CB-Bank给商户ID加密的Key(不需要改变) 默认使用 CBPAYMENT
#commonKey =CBPAYMENT
#-- merchantKey -- CB-Bank提供给商户对数据进行加密的Key 默认使用 STARTMOEYKEY
#merchantKey =STARTMOEYKEY
#-- merchantid -- CB-Bank提供给商户的ID 默认使用 STARTMOEY
#merchantid =STARTMOEY
#-- currency -- CB-Bank充值金额的单位(不需要改变)  默认使用 MMK
#currency =MMK
#itemname =moeyan
#itemdesc =moeyan
#-- hostDomainName -- 本机的ip加port,如果是内网需要外网可以访问请填写外网的ip和port,如果有使用域名请填写域名. 默认使用 本项目的ip和port, 如果是外网访问请务必填写外网的ip:port或者域名
#hostDomainName =192.168.93.107:8080
#-- cbPayLink -- CB-Bank提供的充值连接 默认使用http://online.cbbank.com.mm/CBPayEnc/servletcontroller
#cbPayLink =http://online.cbbank.com.mm/CBPayEnc/servletcontroller


###########KBZ_BANK#########
[KBZ_BANK]
#-- merchantCode -- KBZ提供给商户的ID 默认为SMY0001
#merchantCode=SMY0001
#-- currency -- KBZ充值金额的单位(不需要改变)  默认使用 MMK
#currency=MMK
#itemname=KBZ BANK
#itemdesc=KBZ BANK
#-- cbPayLink -- KBZ提供的充值连接 默认使用https://directpaydemo.kbzbank.com/B001/rediffpur
#payLink=https://directpaydemo.kbzbank.com/B001/rediffpur